@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Inter:wght@200&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  width: 100%;
  height: 4.4rem;
  background-color: rgb(21, 21, 21);
}
header .firstSection {
  display: flex;
  width: 12em;
  padding-left: 5px;
  padding-top: 20px;
}
header .firstSection p {
  height: 1.1em;
}
header .firstSection p:hover {
  cursor: pointer;
  color: #cbcbcb;
}
header .middleSection {
  margin-left: 36%;
  transform: translate(-50%);
  padding-top: 0.6em;
  justify-content: center;
  align-items: center;
  width: 15em;
}
header .middleSection .icons {
  transition: 0.2s;
  margin-left: 0.8em;
  font-size: 2.8em;
}
header .middleSection .icons:hover {
  margin-left: 0.8em;
  font-size: 2.89em;
  fill: rgba(176, 176, 176, 0.6431372549);
  cursor: pointer;
}
header .finalSection {
  display: flex;
  margin-left: 21%;
  width: 9em;
  align-items: center;
  justify-content: flex-end;
}
header .finalSection p {
  border: 1px solid white;
  border-radius: 7px;
  margin-right: 15px;
  padding: 8px;
}
header .finalSection p:hover {
  border-color: rgba(153, 153, 153, 0.6);
  cursor: pointer;
}

* {
  color: white;
  transition: 0.5s;
}

body {
  background-color: #313131;
}

p {
  font-family: "Inter", sans-serif;
}

.verticalLine {
  border-width: 0.2px;
  border-color: rgb(39, 0, 116);
  width: 0.1px !important;
  height: 2.3em;
  margin-right: 0.9em;
}

.horizontalLine {
  border-width: 0.2px;
  border-color: rgb(39, 0, 116);
  width: 60% !important;
  height: 0.1px;
  margin-right: 0.9em;
}

input {
  display: block;
}

input[type=text][type=password] {
  background-color: red;
}

input {
  color: black;
  width: 80%;
  height: 2.3em;
  margin-bottom: 20px;
  margin-left: 50%;
  transform: translate(-50%);
}

input[type=submit] {
  height: 2.5em;
  width: 50%;
  border: 1.4px solid rgb(122, 122, 122);
}

input:hover {
  cursor: pointer;
  background-color: #c9c9c9;
}

input[type=submit]:active {
  background-color: rgb(43, 43, 43);
  color: white;
}

.itemsContainer {
  display: flex;
  margin-top: 4%;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: rgb(73, 73, 73);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
  width: 65%;
  height: 33rem;
  max-height: 33rem;
  max-width: 65%;
  overflow-y: auto;
  flex-wrap: wrap;
}

.itemCard {
  background-color: rgb(56, 56, 56);
  border: 1px solid black;
  border-radius: 12px;
  width: 25.6rem;
  height: 65%;
  margin-top: 1.6%;
  margin-left: 3%;
}
.itemCard p:hover {
  cursor: pointer;
}
.itemCard .itemCardHeader {
  padding-top: 10px;
  padding-left: 7px;
  width: 100%;
  height: 40%;
}
.itemCard .itemCardHeader .productImage {
  width: 120px;
  border: 2px solid rgb(170, 0, 255);
  border-radius: 45%;
  float: left;
  margin-right: 10px;
}
.itemCard .itemCardHeader .productImage:hover {
  width: 125px;
  cursor: pointer;
}
.itemCard .horizontalLine {
  margin-top: 10%;
  border-color: rgb(77, 0, 118);
}
.itemCard .itemCardInformationContainer {
  display: block;
  padding-left: 5px;
}
.itemCard .itemCardInformationContainer p {
  line-height: 17px;
  font-size: 14px;
  margin-top: 5px;
}
.itemCard .itemCardInformationContainer p :hover {
  font-size: 15px;
}
.itemCard .itemCardInformationContainer strong {
  font-size: 16px;
  line-height: 9px;
  color: #ddabff;
}
.itemCard .itemCardInformationContainer strong :hover {
  font-size: 16px;
}

.itemCard:hover {
  background-color: rgb(77, 53, 79);
}

.RegisterBoxContainer {
  background-color: #3c3c3c;
  width: 54%;
  height: 525px;
  margin-left: 50%;
  margin-top: 3.4em;
  transform: translate(-50%);
  border: 1px solid rgb(112, 112, 112);
  border-radius: 6px;
}
.RegisterBoxContainer .Header {
  background-color: rgb(32, 32, 32);
  border: 1px solid #575757;
  border-radius: 7px;
  display: flex;
  align-items: center;
  height: 3.6em;
  justify-content: center;
}
.RegisterBoxContainer .Header p {
  font-size: 28px;
  cursor: default;
}
.RegisterBoxContainer .Header:hover {
  background-color: rgb(37, 37, 37);
}
.RegisterBoxContainer .formContainer {
  background-color: rgb(37, 37, 37);
  display: block;
  justify-content: center;
  width: 70%;
  margin-left: 50%;
  margin-top: 1.5%;
  padding: 30px;
  border-radius: 6px;
  border: 1px solid rgb(87, 87, 87);
  transform: translate(-50%);
}
.RegisterBoxContainer .formContainer p {
  margin-left: 33%;
  margin-bottom: 3%;
}

.LoginFormDiv {
  padding: 30px;
  margin-top: 8%;
  width: 35%;
  height: 255px;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: #232323;
  border: 1px solid #4e4e4e;
  border-radius: 7px;
}
.LoginFormDiv .Header {
  margin-bottom: 25px;
  display: flex;
  height: 2em;
  justify-content: center;
  align-items: center;
}
.LoginFormDiv .Header p {
  cursor: default;
  font-size: 24px;
}

.ModalMain {
  width: 40%;
  height: 380px;
  margin-top: 10%;
  margin-left: 50%;
  transform: translate(-50%);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 9999;
}
.ModalMain header {
  border-radius: 4.7px;
  justify-content: center;
  align-items: center;
}
.ModalMain header p {
  font-size: 24px;
}
.ModalMain .ModalBody {
  display: flex;
  height: 70%;
  justify-content: center;
  flex-wrap: wrap;
}
.ModalMain .ModalBody p {
  color: black;
  font-size: 18px;
}
.ModalMain .ModalBody .ModalResponse p {
  font-size: 21px;
}
.ModalMain .ModalBody .ModalNotification {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid rgb(45, 45, 45);
  border-radius: 4px;
  width: 100%;
  height: 35px;
}
.ModalMain .ModalBody .ModalNotification p {
  color: white;
  font-size: 22px;
}
.ModalMain .ModalBody .ModalSuccess {
  background-color: rgba(44, 214, 35, 0.897);
  box-shadow: 0px 3px 18px rgba(44, 214, 35, 0.897);
}
.ModalMain .ModalBody .ModalFailure {
  background-color: rgba(216, 10, 10, 0.897);
  box-shadow: 0px 3px 18px rgba(216, 10, 10, 0.897);
}
.ModalMain .ModalBody .ModalAlert {
  background-color: rgb(237, 241, 0);
  box-shadow: 0px 3px 18px rgb(237, 241, 0);
}

/*# sourceMappingURL=styles.module.css.map */
