.ItemPainelController {
    display: flex;
    padding: 25px;
    justify-content: center;
    background-color: rgb(69, 69, 69);
    p {
        border: 1px solid rgb(35, 35, 35);
        border-radius: 8px;
        padding: 7px;
        margin-left: 8px;
    }
    p:hover {
        cursor: pointer;
        border: 1px solid rgb(0, 0, 0);
        color: #000000aa;
    }
}
.itemsContainer {
    display: flex;
    margin-top: 4%;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: rgb(73, 73, 73);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    width: 65%;
    height: 33rem;
    max-height: 33rem;
    max-width: 65%;
    overflow-y: auto;
    flex-wrap: wrap;
}